<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Backoffice{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>

<body class="flex min-h-screen">

    <!-- MENU LATERAL -->
    <aside class="w-64 bg-gray-800 text-white p-4">
        <h2 class="text-xl font-bold mb-6">Backoffice</h2>

        <nav class="flex flex-col gap-3">
            <a href="{{ path('app_dashboard') }}">Dashboard</a>

            {# Visible pour tous les connectés #}
            <a href="{{ path('product_index') }}">Produits</a>
            <a href="{{ path('client_index') }}">Clients</a>
            <a href="{{ path('product_index') }}">Produits</a>


            {# 🔐 Visible uniquement ADMIN #}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_user_index') }}">
                    Utilisateurs
                </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
    <a href="{{ path('client_index') }}">Clients</a>
{% endif %}

        </nav>
    </aside>

    <!-- CONTENU PRINCIPAL -->
    <main class="flex-1 p-6 bg-gray-100">
        {% block body %}{% endblock %}
    </main>

</body>
</html>
